h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000000;
}

.bento-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0;
    justify-content: space-between;
}

.welcome {
    font-size: 1.5rem;
}

.bento-box-md {
    width: 100%;
    border-radius: 8px;
    padding-bottom: 12%;
    margin: 0 0 4% 0;
    background-color: #eeeeee;
}

.bento-box-md-img {
    width: 49.5%;
    height: 100%;
    border-radius: 8px;
    margin: 0 0 4% 0;
}

.bento-box-sm {
    width: 100%;
    border-radius: 8px;
    margin: 0 0 5% 0;
    background-color: #eeeeee;
}

.bento-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%
}
.img-bg {
    background-image: url("../../../assets/img/PIA14114~small.jpg");
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    background-position: center; 
}

.arrow h1 {
    font-size: 2.75rem;
    text-align: right;
    padding: 0% 0% 10% 0%;
    color: #ff5200;
}

.arrow-wip {
    font-size: 2.75rem;
    text-align: right;
    padding: 0% 0% 10% 0%;
    color: #ff5200;
}

@media (min-width: 450px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .bento-box-md {
        width: 100%;
        border-radius: 8px;
        padding-bottom: 12%;
        margin: 0 0 1.5% 0;
        background-color: #eeeeee;
    }

    .bento-box-md-img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        margin: 0 0 1.5% 0;
    }

    .bento-box-sm {
        width: 49.25%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1.5% 0;
        background-color: #eeeeee;
    }

    .bento-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
    }
    .img-bg {
        background-image: url("../../../assets/img/PIA14114~small.jpg");
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        background-position: center; 
    }

    .arrow h1 {
        padding: 10% 0%;
    }

}

@media (min-width: 800px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .bento-box-md {
        width: 100%;
        border-radius: 8px;
        padding-bottom: 12%;
        margin: 0 0 1.25% 0;
        background-color: #eeeeee;
    }

    .bento-box-md-img {
        width: 100%;
        height:100%;
        border-radius: 8px;
        margin: 0 0 2% 0;
    }

    .bento-box-sm {
        width: 24%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1.5% 0;
        background-color: #eeeeee;
    }

    .bento-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
    }
    .img-bg {
        background-image: url("../../../assets/img/PIA14114~small.jpg");
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        background-position: center; 
    }

    .arrow h1 {
        padding: 10% 0% 10% 0%;
    }

}

@media (min-width: 1080px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .bento-box-md {
        width: 49.5%;
        border-radius: 8px;
        padding-bottom: 12%;
        margin: 0 0 1% 0;
        background-color: #eeeeee;
    }

    .bento-box-md-img {
        width: 49.5%;
        height: 100%;
        border-radius: 8px;
        margin: 0 0 1% 0;
    }

    .bento-box-md .bento-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2%;
    }

    .bento-box-sm {
        width: 24.25%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1% 0;
        background-color: #eeeeee;
    }

    .bento-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
    }
    .img-bg {
        background-image: url("../../../assets/img/PIA14114~small.jpg");
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        background-position: center; 
    }

    .arrow h1 {
        padding: 10% 0% 10% 0%;
    }

    .arrow-wip h1{
        font-size: 1.5rem;
        text-align: right;
        padding: 0% 0% 2.5% 0%;
        color: #ff5200;
    }
    

}

