<div class="bento-box">
    <div class="bento-box-md">
        <div class="bento-content" *ngIf="memberLoginOn">
            <h1>Welcome back, {{memberData?.name}}</h1>
        </div>
    </div>
    <div class="bento-box-md-img">
        <div class="img-bg">

        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <h2>People<br> in space</h2>
            <div class="arrow-wip">
                <h1>Coming soon</h1>
            </div>
        </div>
    </div>
    <a routerLink="/planets" class="bento-box-sm">
        <div class="bento-content">
            <h2>Solar System</h2>
            <h2><br></h2>
            <div class="arrow">
                <h1><i class="fa-solid fa-arrow-right"></i></h1>
            </div>
        </div>
    </a>
    <div class="bento-box-sm">
        <div class="bento-content">
            <h2>Missions</h2>
            <h2><br></h2>
            <div class="arrow-wip">
                <h1>Coming soon</h1>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <h2>APOD</h2>
            <h2><br></h2>
            <div class="arrow-wip">
                <h1>Coming soon</h1>
            </div>
        </div>
    </div>
    <app-iss></app-iss>
</div>