<div>
    <app-members></app-members>
    <div class="bento-box">
        <div class="bento-box-md">
            <div class="bento-content">
                <h1>Edit Mission</h1>
                <div class="missionsDashboard">
                        <div class="formInput">
                            <label for="missionTitle">Title</label>
                            <input type="text" class="form" [(ngModel)]="mission.title" #missionTitle>
                        </div>
                        <div class="formInput">
                            <label for="missionPost">Body</label>
                            <textarea class="form" [(ngModel)]="mission.post" #missionPost rows="3"></textarea>
                        </div>
                        <div class="formInput">
                            <label for="missionAuthor">Author</label>
                            <input type="text" class="form" [(ngModel)]="mission.author" #missionAuthor>
                        </div>
                        <div>
                            <button type="button" class="btn btn-add" (click)="update(missionTitle.value, missionPost.value, missionAuthor.value)">Save changes</button>
                        </div>                 
                </div>
            </div>
        </div>
        <div class="bento-box-md">
            <div class="bento-content">
                <h1>Mission List</h1>
                <div class="missionsTable">
                    <table>
                        <tbody *ngIf="missions.length">
                            <tr *ngFor="let mission of missions">
                                <td>{{mission.title}}</td>
                                <td class="td-right"><button class="btn btn-edit" routerLink="/edit/{{mission.id}}">Edit</button> <button class="btn btn-delete" (click)="deleteMission(mission.id)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
                    
</div>