<div class="bento-box">
    <div class="bento-box-md">
        <div class="bento-content">
            <h1>Missions</h1>
            <div class="missionsDashboard">
                <div class="formInput">
                    <label for="missionTitle">Mission title</label>
                    <input formControlName="title" type="text" class="form" id="title" #missionTitle>
                </div>
                <div class="formInput">
                    <label for="missionPost">Mission post</label>
                    <textarea formControlName="post" type="text" class="form" id="post" #missionPost rows="3"></textarea>
                </div>
                <div class="formInput">
                    <label for="missionAuthor">Mission author</label>
                    <input formControlName="author" type="text" class="form" id="author" #missionAuthor>
                </div>
                <div>
                    <button type="button" class="btn btn-add" (click)="add(missionTitle.value, missionPost.value, missionAuthor.value); missionTitle.value=''; missionPost.value=''; missionAuthor.value=''">Add New Mission</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bento-box-md">
        <div class="bento-content">
            <h1>Mission List</h1>
            <div class="missionsTable">
                <table>
                    <tbody *ngIf="missions.length">
                        <tr *ngFor="let mission of missions">
                            <td>{{mission.title}}</td>
                            <td class="td-right"><button class="btn btn-edit" routerLink="/edit/{{mission.id}}">Edit</button> <button class="btn btn-delete" (click)="deleteMission(mission.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                