h1 {
    font-size: 3rem;
    padding-bottom: 10%;
}

h2 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000000;
}

.bento-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0;
    justify-content: space-between;
}

.welcome {
    font-size: 1.5rem;
}

.bento-box-md {
    width: 100%;
    border-radius: 8px;
    padding-bottom: 0%;
    margin: 0 0 4% 0;
    background-color: #eeeeee;
}

.bento-box-sm {
    width: 100%;
    border-radius: 8px;
    margin: 0 0 5% 0;
    background-color: #eeeeee;
}

.bento-content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%
}

.bento-content-intro {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5% 5% 15% 5%;
}

.img-bg-01 {
    background-image: url("../../../assets/img/home-01.jpg");
    height: 30vh;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-bg-02 {
    background-image: url("../../../assets/img/PIA14114~small.jpg");
    height: 50vh;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrow h1 {
    font-size: 2.75rem;
    text-align: right;
    padding: 0% 0% 10% 0%;
    color: #ff5200;
}

.arrow-wip {
    font-size: 2.75rem;
    text-align: right;
    padding: 0% 0% 10% 0%;
    color: #ff5200;
}

.arrow-wip h1{
    font-size: 1.5rem;
    text-align: right;
    padding: 0% 0% 2.5% 0%;
    color: #ff5200;
}

@media (min-width: 450px) {

    h1 {
        font-size: 3.5rem;
        padding-bottom: 5%;
    }

    h2 {
        font-size: 2.5rem;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .bento-box-md {
        width: 100%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1.5% 0;
        background-color: #eeeeee;
    }

    .bento-box-sm {
        width: 49.25%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1.5% 0;
        background-color: #eeeeee;
    }

    .bento-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%
    }
    
    .bento-content-intro {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5% 5% 10% 5%;
    }

    .img-bg-01 {
        background-image: url("../../../assets/img/home-01.jpg");
        height: 60vh;
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        background-position: center;
        background-size: cover;
    }

    .arrow h1 {
        padding: 10% 0%;
    }

    .arrow-wip h1{
        font-size: 1.5rem;
        text-align: right;
        padding: 0% 0% 2.5% 0%;
        color: #ff5200;
    }

}

@media (min-width: 800px) {

    h1 {
        font-size: 3.5rem;
        padding-bottom: 2.5%;
    }

    h2 {
        font-size: 2rem;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .bento-box-md {
        width: 100%;
        height: auto;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1.25% 0;
        background-color: #eeeeee;
    }

    .bento-box-md-img {
        width: 100%;
        height:100%;
        border-radius: 8px;
        margin: 0 0 2% 0;
    }

    .bento-box-sm {
        width: 24%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1.5% 0;
        background-color: #eeeeee;
    }

    .bento-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
    }

    .bento-content-intro {
        width: 96%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 2% 2% 5% 2%;
    }

    .img-bg-01 {
        background-image: url("../../../assets/img/home-01.jpg");
        height: 60vh;
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .arrow h1 {
        padding: 10% 0% 10% 0%;
    }

    .arrow-wip h1{
        font-size: 1.5rem;
        text-align: right;
        padding: 0% 0% 2.5% 0%;
        color: #ff5200;
    }

}

@media (min-width: 1080px) {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    a {
        color: #000000;
        text-decoration: none;
    }

    .bento-box-md {
        width: 49.5%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1% 0;
        background-color: #eeeeee;
    }

    .bento-box-xxl {
        width:100%;
        margin: 0 0 1% 0;
    }

    .bento-box-sm {
        width: 24.25%;
        border-radius: 8px;
        padding-bottom: 0%;
        margin: 0 0 1% 0;
        background-color: #eeeeee;
    }

    .bento-content-intro {
        width: 96%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2% 2% 10% 2%;
    }

    .bento-content-intro h1{
        padding-bottom:5%;
    }

    .bento-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5%;
    }

    .img-bg-01 {
        background-image: url("../../../assets/img/home-01.jpg");
        height: 100%;
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .arrow h1 {
        padding: 10% 0% 10% 0%;
    }

    .arrow-wip h1{
        font-size: 1.5rem;
        text-align: right;
        padding: 0% 0% 2.5% 0%;
        color: #818181;
    }
    

}

