<div class="bento-box">
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{mercure.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>null</p>
                <p>3.30114x10<sup>23</sup>kg</p>
                <p>{{mercure.gravity}}</p>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{venus.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>null</p>
                <p>{{venus.mass}}</p>
                <p>{{venus.gravity}}</p>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{earth.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>{{earth.moons}}</p>
                <p>{{earth.mass}}</p>
                <p>{{earth.gravity}}</p>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{mars.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>null</p>
                <p>3.30114x10<sup>23</sup>kg</p>
                <p>{{mars.gravity}}</p>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{jupiter.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>Triton</p>
                <p>Néreide</p>
                <p>Nalade</p>
                <p>Thalassa</p>
                <p>Despina</p>
                <p>8 more</p>
                <p>1.02413x10<sup>26</sup>kg</p>
                <p>{{jupiter.gravity}}</p>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{saturne.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>Triton</p>
                <p>Néreide</p>
                <p>Nalade</p>
                <p>Thalassa</p>
                <p>Despina</p>
                <p>8 more</p>
                <p>1.02413x10<sup>26</sup>kg</p>
                <p>{{saturne.gravity}}</p>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{uranus.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>Triton</p>
                <p>Néreide</p>
                <p>Nalade</p>
                <p>Thalassa</p>
                <p>Despina</p>
                <p>8 more</p>
                <p>1.02413x10<sup>26</sup>kg</p>
                <p>{{uranus.gravity}}</p>
            </div>
        </div>
    </div>
    <div class="bento-box-sm">
        <div class="bento-content">
            <div class="bento-title">
                <h1>{{neptune.englishName}}</h1>
                <h2><br></h2>
            </div>
            <div class="bento-col-l">
                <p>Moon</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Mass</p>
                <p>Gravity</p>
            </div>
            <div class="bento-col-r">
                <p>Triton</p>
                <p>Néreide</p>
                <p>Nalade</p>
                <p>Thalassa</p>
                <p>Despina</p>
                <p>8 more</p>
                <p>1.02413x10<sup>26</sup>kg</p>
                <p>{{neptune.gravity}}</p>
            </div>
        </div>
    </div>
</div>
