
    <div class="bento-box">


        <div class="bento-box-sm" *ngIf="mercure; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{mercure.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p class="disabled">-</p>
                    <p>{{mercure.mass.massValue}}x10<sup>{{mercure.mass.massExponent}}</sup>kg</p>
                    <p>{{mercure.gravity}}</p>
                </div>
            </div>
        </div>


        <div class="bento-box-sm" *ngIf="venus; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{venus.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p class="disabled">-</p>
                    <p>{{venus.mass.massValue}}x10<sup>{{venus.mass.massExponent}}</sup>kg</p>
                    <p>{{venus.gravity}}</p>
                </div>
            </div>
        </div>
        <div class="bento-box-sm" *ngIf="earth; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{earth.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p *ngFor="let moon of earth.moons">{{moon.moon}}</p>
                    <p>{{earth.mass.massValue}}x10<sup>{{earth.mass.massExponent}}</sup>kg</p>
                    <p>{{earth.gravity}}</p>
                </div>
            </div>
        </div>
        <div class="bento-box-sm" *ngIf="mars; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{mars.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>&nbsp;</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p *ngFor="let moon of mars.moons">{{moon.moon}}</p>
                    <p>{{mars.mass.massValue}}x10<sup>{{mars.mass.massExponent}}</sup>kg</p>
                    <p>{{mars.gravity}}</p>
                </div>
            </div>
        </div>
        <div class="bento-box-sm" *ngIf="jupiter; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{jupiter.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p *ngFor="let moon of jupiter.moons.slice(0, 5)">{{moon.moon}}</p>
                    <p class="disabled">+90 more</p>
                    <p>{{jupiter.mass.massValue}}x10<sup>{{jupiter.mass.massExponent}}</sup>kg</p>
                    <p>{{jupiter.gravity}}</p>
                </div>
            </div>
        </div>
        <div class="bento-box-sm" *ngIf="saturne; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{saturne.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p *ngFor="let moon of saturne.moons.slice(0, 5)">{{moon.moon}}</p>
                    <p class="disabled">+141 more</p>
                    <p>{{saturne.mass.massValue}}x10<sup>{{saturne.mass.massExponent}}</sup>kg</p>
                    <p>{{saturne.gravity}}</p>
                </div>
            </div>
        </div>
        <div class="bento-box-sm" *ngIf="uranus; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{uranus.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p *ngFor="let moon of uranus.moons.slice(0, 5)">{{moon.moon}}</p>
                    <p class="disabled">+22 more</p>
                    <p>{{uranus.mass.massValue}}x10<sup>{{uranus.mass.massExponent}}</sup>kg</p>
                    <p>{{uranus.gravity}}</p>
                </div>
            </div>
        </div>
        <div class="bento-box-sm" *ngIf="neptune; else cargando">
            <div class="bento-content">
                <div class="bento-title">
                    <h1>{{neptune.englishName}}</h1>
                    <h2><br></h2>
                </div>
                <div class="bento-col-l">
                    <p>Moon</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>Mass</p>
                    <p>Gravity</p>
                </div>
                <div class="bento-col-r">
                    <p *ngFor="let moon of neptune.moons.slice(0, 5)">{{moon.moon}}</p>
                    <p class="disabled">+14 more</p>
                    <p>{{neptune.mass.massValue}}x10<sup>{{neptune.mass.massExponent}}</sup>kg</p>
                    <p>{{neptune.gravity}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #cargando>
        <p style="color:red">Cargando...</p>
    </ng-template>

