<div class="bento-box">
    <div class="col">
        <div class="bento-box-md">
            <div class="bento-content">
                <h1>Where<br> is the ISS?</h1>
                <h1><br></h1>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="name">{{data.name | uppercase}}</h2>
                <hr>
                <p class="issDataText">It takes its name from the initials in English (International Space Station).</p>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="altitude">{{data.altitude}} </h2>
                <hr>
                <p class="issDataText">The ISS is located at an altitude of {{data.altitude}}</p>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="latitude">{{data.latitude}}</h2>
                <hr>
                <p class="issDataText">Latitude is the angle that determines the distance between a point on the map and the equator, from the North Pole to the South.</p>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="longitude">{{data.longitude}}</h2>
                <hr>
                <p class="issDataText">Longitude is the angle that determines the distance between a point and the Greenwich meridian, from east to west.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="bento-box-xl" id="map" style="border-radius: 8px;">
            <google-map height="100%" width="100%" [options]="options" id="map">
                <map-marker [position]="marker.position"></map-marker>
            </google-map>
        </div>
    </div>
</div>