<div class="bento-box">
    <div class="col">
        <div class="bento-box-md">
            <div class="bento-content">
                <h1>Where<br> is the ISS?</h1>
                <h1><br></h1>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="name">{{data.name | uppercase}}</h2>
                <hr>
                <p class="issDataText">Toma su nombre de las siglas en inglés (International Space Station)</p>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="altitude">{{data.altitude}} </h2>
                <hr>
                <p class="issDataText">La ISS se encuentra a una altitud de {{data.altitude}}</p>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="latitude">{{data.latitude}}</h2>
                <hr>
                <p class="issDataText">La latitud es el ángulo que determina ladistancia entre un punto del mapa y el ecuador, desde el Polo Norte hasta el Sur</p>
            </div>
        </div>
        <div class="bento-box-sm">
            <div class="bento-content">
                <h2 class="issData" id="longitude">{{data.longitude}}</h2>
                <hr>
                <p class="issDataText">La longitud es el ángulo que determina la distancia entre un punto y el meridiano de Greenwich, desde el este hasta el oeste</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="bento-box-xl">
                    <google-map height="100%" width="100%" [options]="options">
                                <map-marker [options]="marker"></map-marker>
                    </google-map>
        </div>
    </div>
</div>